@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    9 Glacier Crescent<br />
    Moonstone, ON L0K 1N0<br />
    <abbr title="Phone">P:</abbr>
    705.984.7625
</address>

<address>
    <strong>Email:</strong> <a href="mailto:hadenhiles@gmail.com">hadenhiles@gmail.com</a>
</address>
